{%load staticfiles%}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Medical HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.ico'%}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/slicknav.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/flaticon.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/gijgo.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/animated-headline.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/fontawesome-all.min.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/themify-icons.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/slick.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/nice-select.css'%}">
	<link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{%static 'assets/img/logo/loder.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{%url 'webjosue:index'%}"><img src="{%static 'assets/img/logo/logo.png'%}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{%url 'webjosue:index'%}">nosotros</a></li>
                                        <li><a href="{%url 'webjosue:about'%}">historio</a></li>
                                        <li><a href="{%url 'webjosue:doctor'%}">Doctores</a></li>
                                        <li><a href="{%url 'webjosue:departament'%}">departamentos</a></li>

                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a href="{%url 'webjosue:contact'%}" class="btn header-btn">contactanos</a>
                            </div>
                        </div>
                    </div>   
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Departments</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
   <!--? department_area_start  -->
    <div class="department_area section-padding2">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>Nuestros Departamentos</span>
                        <h2>Nuestros Servicios Medicos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="depart_ment_tab mb-30">
                        <!-- Tabs Buttons -->
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    <i class="flaticon-teeth"></i>
                                    <h4>Odontologia</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                    <i class="flaticon-cardiovascular"></i>
                                    <h4>Cardiologia</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-ear"></i>
                                    <h4>otologiaa</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#Astrology" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-bone"></i>
                                    <h4>reumatologia</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Neuroanatomy-tab" data-toggle="tab" href="#Neuroanatomy" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-lung"></i>
                                    <h4>neumologia</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Blood-tab" data-toggle="tab" href="#Blood" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-cell"></i>
                                    <h4>examen de sangre</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dept_main_info white-bg">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Dentista con mascarilla quirúrgica con
                                     <br> escalador cerca del paciente</h3 >
                                    <p>Somos un directorio de habla hispana creado con el propósito de acercarte
                                        a especialistas y expertos dentales destacados. Para nosotros es importante
                                        sientas seguridad al decidir comenzar un tratamiento para mejorar tu salud
                                        bucal, por ello seguimos un proceso estricto para evaluar a los odontólogos
                                        que encuentras en esta plataforma. De esta manera podrás ser atendido con altos
                                        estándares de calidad. </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="https://i.postimg.cc/tg6wTJ4L/doctor-making-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Cardiologa atenediedo  <br> a una de nuestras pasientes</h3 >
                                    <p>La cardiología es la rama de la medicina que se encarga del estudio,
                                        diagnóstico y tratamiento de las enfermedades del corazón y del sistema circulatorio.
                                        Es médica, pero no quirúrgica; los especialistas en el abordaje quirúrgico del corazón
                                        son el cirujano cardiaco o el cirujano cardiovascular. </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="https://i.postimg.cc/44qk96b6/medicos-alzheimer.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Otologo<br> atendiendo un pasiente</h3 >
                                    <p>La otología es la rama de la medicina que se ocupa del estudio del oído y de sus enfermedades.
                                        Esta disciplina forma parte de la Otorrinolaringología,
                                        especialidad dedicada a la prevención diagnóstico y tratamiento
                                        de las patologías del oído, nariz y garganta. </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="https://i.postimg.cc/dQGXsB83/otorrinologia.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Astrology" role="tabpanel" aria-labelledby="Astrology-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>reumatologia<br> siempre teniendo un exelente cuidado</h3 >
                                    <p>La reumatología es una especialidad médica dedicada a los trastornos médicos del aparato
                                        locomotor y del tejido conectivo, que abarca un gran número de entidades clínicas
                                        conocidas en conjunto como enfermedades reumáticas, a las que se suman un gran grupo
                                        de enfermedades de afectación sistémica: las conectivopatías </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="https://i.postimg.cc/fb94xh0j/Clinica-san-juan-de-dios-Reumatologia.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Neuroanatomy" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>neumologia <br> siempre tieniendo un exelente cuidado</h3 >
                                    <p>La Neumología es la especialidad médica cuyo campo de actuación se centra en la prevención,
                                        diagnóstico y tratamiento de las enfermedades del aparato respiratorio
                                        y, de forma más específica, a los pulmones, el mediastino y la pleura </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="https://i.postimg.cc/QxTpG45Y/neumo.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Blood" role="tabpanel" aria-labelledby="Blood-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>Análisis de sangre <br> teniendo resultados precisos</h3 >
                                    <p>Su sangre contiene glóbulos rojos, glóbulos blancos y plaquetas.
                                        El análisis o examen de sangre mide el número y tipos de células en la sangre.
                                        Esto ayuda a los médicos a verificar su estado general de salud.
                                        Las pruebas también pueden ayudar a diagnosticar enfermedades
                                        y afecciones como anemia, infecciones, problemas de coagulación,
                                        cáncer de la sangre y enfermedades del sistema inmunitario </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="https://i.postimg.cc/dt6TKb3B/Examenes-de-sangre.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    </div>
            </div>

        </div>
    </div>
    </main>
    <footer>
       <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="{%static 'assets/img/gallery/footer_bg.jpg'%}">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{%static 'assets/img/logo/logo2_footer.png'%}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>contactanos</h4>
                                    <div class="footer-pera">
                                        <p class="info1">cualquier duda le dejamos nuetros metodos de comunicacion. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-number mb-50">
                                    <h4><span>+502 </span>31705866</h4>
                                    <p>eversonmelgar4@gmail.com</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <div class="form-icon">
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{%static './assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{%static './assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{%static './assets/js/popper.min.js'%}"></script>
    <script src="{%static './assets/js/bootstrap.min.js'%}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{%static './assets/js/jquery.slicknav.min.js'%}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{%static './assets/js/owl.carousel.min.js'%}"></script>
    <script src="{%static './assets/js/slick.min.js'%}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{%static './assets/js/wow.min.js'%}"></script>
    <script src="{%static './assets/js/animated.headline.js'%}"></script>
    <script src="{%static './assets/js/jquery.magnific-popup.js'%}"></script>

    <!-- Date Picker -->
    <script src="{%static './assets/js/gijgo.min.js'%}"></script>
    <!-- Nice-select, sticky -->
    <script src="{%static './assets/js/jquery.nice-select.min.js'%}"></script>
    <script src="{%static './assets/js/jquery.sticky.js'%}"></script>
    
    <!-- counter , waypoint -->
    <script src="{%static './assets/js/jquery.counterup.min.js'%}"></script>
    <script src="{%static './assets/js/waypoints.min.js'%}"></script>
    <script src="{%static './assets/js/jquery.countdown.min.js'%}"></script>
    <!-- contact js -->
    <script src="{%static './assets/js/contact.js'%}"></script>
    <script src="{%static './assets/js/jquery.form.js'%}"></script>
    <script src="{%static './assets/js/jquery.validate.min.js'%}"></script>
    <script src="{%static './assets/js/mail-script.js'%}"></script>
    <script src="{%static './assets/js/jquery.ajaxchimp.min.js'%}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{%static './assets/js/plugins.js'%}"></script>
    <script src="{%static './assets/js/main.js'%}"></script>
    
    </body>
</html>